@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Red+Rose:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  min-height: 100%;
  min-width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #110e09;
  color: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

sidebar {
  background-color: #110e09;
  border-right: 2px solid #4e4736;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

sidebar ul {
  display: flex;
  flex-direction: column;
  height: 70%;
  list-style: none;
  padding: 10vh;
  margin: 0;
}

sidebar ul li {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

sidebar ul li a:hover {
  transition: all ease 0.7s;
  color: rgba(245, 245, 245, 0.5);
}

.content {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 17vh; /* Match the width of the navbar */
  padding: 20px;
  max-width: 100%;
}

.content-board {
  margin-top: 3%;
  background-color: #333;
  max-width: 90vh;
  padding: 5vh;
  padding-top: 1vh;
  padding-bottom: 0vh;
  border-radius: 20px;
}

.progress-img {
  width: 100%;
  max-width: 10vh; 
  padding: 10px; 
  padding-bottom: 0;
}

.progress-img img {
  max-width: 100%;

}

.progress-content h1 {
  margin: 0px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 24px;
}

.progress-content p {
  margin: 10px;
  color: whitesmoke;
}

.progress-content {
  padding: 2%;

}

.progresso {
  display:flex;
  gap: 3vh;
  border-bottom: 2px solid black;
  align-items: center;
}

.progress-bar {
  background-color: wheat;
  height: 2vh;
  margin-right: 5%;
  border-radius: 20px;
  display: flex;
}

.progress-bar::before {
    content: "";
    width: 80%;
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 5px rgb(255, 150, 0);
    border-radius: 20px;
  
}

@media only screen and (max-width: 768px) {

  .navbar{
    width: 100%;
    height: 17vh;
    flex-direction: row;
  } 
  .content {
    margin: 0;
    margin-top:17vh;
    width: 100%;
    justify-content: center;
    padding: 0px;
  }
  .content-board {
    max-width:100%;
    margin: 1vh;
    margin-top:5vh;
  }
  .progress-content p {
    color: whitesmoke;
    display: none;
  }

  .progresso {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar {
    gap: 10%;
  }
  .navbar img {
    width: 8vh;
  }

}

