@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Red+Rose:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    color: #333;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    width: 100%;
    background-color: #fff;
}

header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

header ul li {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #555;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinhar os itens ao topo */
    gap: 2rem;
    flex-grow: 1;
    padding: 2rem;
}

.main-img {
    width: 40%; /* Largura da imagem */
    max-width: 300px;
}

.main-img img {
    width: 100%;
    height: auto;
}

.disclosure {
    flex: 1; /* Ocupar o restante do espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button, .main-button {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #ff6b35;
    box-shadow: 0 4px 0 #ff5a1f;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button {
    background-color: #ff6b3500;
    box-shadow: 0 4px 0 black;
    border: 1px solid black;
    color: #333;
}

.button h2, .main-button h2 {
    font-size: 1.2rem;
    margin: 0;
}

.main-button:hover {
    transform: translateY(3px);
    box-shadow: 0 6px 0 #ff5a1f;
}

.button:hover {
    transform: translateY(3px);
    box-shadow: 0 6px 0 #000000;
}

h1 {
    line-height: 1.5;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

@media screen and (max-width: 768px) {
    header ul {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    main {
        flex-direction: column; /* Alterar para empilhamento em telas menores */
        align-items: center; /* Alinhar os itens centralmente */
    }

    .main-img {
        width: 100%; /* A imagem ocupa toda a largura na tela pequena */
        max-width: 250px;
        margin-bottom: 2rem; /* Adiciona um espaço entre a imagem e o conteúdo */
    }

    .button, .main-button {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}
