@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Red+Rose:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#logo {
    width: 50%;
    padding-top: 10px;
}
html {
    min-height: 100%;
    min-width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-color: #110e09;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

sidebar {
    background-color: #110e09;
    border-right: 2px solid #4e4736;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    max-width: 100%;
    z-index: 1000;
}

sidebar ul {
    display: flex;
    flex-direction: column;
    height: 70%;
    list-style: none;
    padding: 5%;
    margin: 0;
}

sidebar ul li {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

sidebar ul li a:hover {
    transition: all ease 0.7s;
    color: rgba(245, 245, 245, 0.5);
}

sidebar h1 {
    font-size: 2em;
    display: block;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5vh 0;
    right: 0;
    top: 0;
    width: 85%;
    position: absolute;
    background-color: #110e09;
    flex-wrap: wrap;
}

.main_fases_content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    color: white;
    position: sticky;
    width: 60%;
}

.header_cap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    max-width: 100%;
    width: 100%;
}

.big-header {
    background-color: #ff6b35;
    white-space: pre-line;
    max-width: 80%;
    width: 100%;
    padding: 2vh 8vh;
    border-radius: 30px;
    box-shadow: 1vh 2vh 0 #5a210c;
}

.big-header h2 {
    font-size: large;
}
.fase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_cap:nth-of-type(odd) .fase1 {
    margin-right: 5vh;
}

.header_cap:nth-of-type(odd) .fase2 {
    margin-right: 15vh;
}

.header_cap:nth-of-type(odd) .fase3 {
    margin-right: 20vh;
}

.header_cap:nth-of-type(odd) .fase4 {
    margin-right: 5vh;
}

.header_cap:nth-of-type(odd) .fase1 {
    margin-right: -5vh;
}

.header_cap:nth-of-type(even) .fase2 {
    margin-right: -15vh;
}

.header_cap:nth-of-type(even) .fase3 {
    margin-right: -20vh;
}

.header_cap:nth-of-type(even) .fase4 {
    margin-right: -5vh;
}

.fim_cap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.line-fim {
    flex-grow: 1;
    width: 10vh;
    height: 2px;
    background-color: #ffffff;
}

.fim_cap h3 {
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
}

.fase a {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 900;
    color: rgb(37, 37, 37);
    background-color: rgb(255, 150, 0);
    box-shadow: 0px 5px rgb(141, 82, 0);
    padding: 2rem;
}
.modal-dialog {
    border-radius: 40px;
}
.modal-body,.modal-content {
   background-color: #ff6b35;
   color: white;
}

.modal-header {
    background-color: #d15528;
    color: white;
}
.modal-header * {
    text-align: center !important;
}
.modal-footer  {
    background-color: #d15528 !important;
    color: white;
}
.fase a:active {
    transform: translateY(3px);
    box-shadow: none;
}

.main-quests-content {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    top: 0;
    right: 0;
    position: sticky;
    max-width: 35%;
}

.quest-contents-container {
    display: flex;
    flex-direction: column;
}

.progress { 
    margin: 10px;
}

.img-fluid {
    width: 10%;
    max-width: 100;
}

.title-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.card-title {
    font-size: 26px;
}

.btn  {
    background-color: rgb(255, 123, 0) !important;
    border: none !important;
    padding: 10px !important;
}

.button-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.title-holder-arthur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.img2 {
    width: 60%;
    max-width: 100%;
    max-height: 100%;
}


.checked-img-container {
    width: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    border-radius: 10px;
    border: 2px solid rgb(33, 156, 33);
    border-style: dashed;
    padding: 6px;
    background-color: rgb(225, 255, 225);
}

span {
    width: 100%;
}

.quests-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
    border: 3px solid #362f22;
    color: white !important;
    background-color: #ff6b35 !important;
    border-radius: 30px !important;

}

.card {
    color: white !important;
    background-color: #ff6b35 !important;
    border: none !important;
    border-radius: 30px !important;

    /*box-shadow: 1vh 2vh 0 #5a210c;*/
}

.card-header {
    text-align: center;
    font-weight: 500;
    font-size: large;
    background-color: #d15528 !important;
    border-radius: 30px 30px 0 0!important;
}

.progress {
    border-radius: 100px !important;
    background-color: #ffba9b !important;
}

.titleP{
    text-align: center;
    background-color:   #d15528 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #362f22;
    padding-top: 10px;
    font-size: xx-large;
    
}



.Progresso{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 3px solid   rgb(99, 99, 99);
    color: white !important;
    background-color: #110e09 !important;
    border-radius: 30px !important;
    /*box-shadow: 1vh 2vh 0   #5a210c;*/
}

.Progresso * {
    background-color: #110e09 !important;
    box-shadow: none !important;
}


.progress{
    margin-bottom: 15px;
}

 .Progresso .progress {
    background-color: rgb(99, 99, 99) !important;
    width: 100%;
}

.capTitle{
    margin-top: 10px;
}

.card-progress{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
}

.card-headerP{
    text-align: center;
    font-weight: 500;
    font-size: large;
    box-shadow:  1.3vh 0  #5a210c;
    background-color: #5a210c !important;
    border-radius: 2px !important;
}


.btn{
    margin-bottom: 15px;
}

.Border{
    border-bottom: 2px solid   rgb(99, 99, 99);
    margin: 20px;
}

.caixa{
    display: flex;
}

.imgTitle{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.imgTitle p {
    margin-bottom: 0;
}
.imgf{
    text-align: center;
}

.imgf .imgs{
    display: inline-block;
}

.imgs{
    
    width: 30%;
}

.profileItens{
    width: 100%;
    height: 10vh;
    padding-left: 40px;
}

.Moedas{
    display: flex;
    flex-direction: row;
}

.img2{
    width: 20%;
    height: 20%;
}

.usercoins{
    margin-left: 10px;
}

@media screen and (max-width: 1250px) {
    sidebar h1 {
        display: none;
    }
}

.buy-child {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    gap: 1vh;
    width: 60%;
}
.buy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    width: 20%;
    border: 3px solid   rgb(99, 99, 99);
    border-radius: 20px;
    padding: 10px;
}

.buy h2 {
    font-size: x-large;
}
.buy h3 {
    font-size: larger;
}

.buy img {
    width: 50%;
}

.lock {
    opacity: 1;
}
.header_cap {
    transition: opacity 0.5s ease-in-out;
}

.buy:hover ~ .header_cap {
    opacity: 1 !important;
}
