<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GuardaGrana</title>
  <link href="./assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="progresso">
    <div class="voltar">
      <img src="./assets/imgs/seta.png">
    </div>
    <div class="bar"></div>
  </div>

  <main>
    <div class="pet_perg">
      <div class="pet">
        <img src="./assets/imgs/leao.png">
      </div>
      <p>Pergunta Aqui</p>
    </div>

    <div class="perguntas">
      <a class="perg">
        <div class="icon-perg">
          <img src="./assets/imgs/lapis.png">
        </div>
        <p>Alternativa</p>
      </a>
      <a class="perg">
        <div class="icon-perg">
          <img src="./assets/imgs/lapis.png">
        </div>
        <p>Alternativa</p>
      </a>
      <a class="perg">
        <div class="icon-perg">
          <img src="./assets/imgs/lapis.png">
        </div>
        <p>Alternativa</p>
      </a>
    </div>
  </main>

  <footer>   
    <div class="btn_footer">
      <a class="btn_continuar" href="#">
        Continuar
      </a>    
    </div> 
    
  </footer>

  <script src="script.js"></script>
</body>

</html>