body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #110e0900 !important;

}

html {
    background-color: #110e09;
}

.quest-contents-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress { 
    margin: 10px;
}

.img-fluid {
    width: 10%;
    max-width: 100;
}

.title-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.card-title {
    font-size: 26px;
}

.btn  {
    background-color: rgb(255, 123, 0) !important;
    border: none !important;
    padding: 10px !important;
}

.button-content-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.title-holder-arthur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.img2 {
    width: 60%;
    max-width: 100%;
    max-height: 100%;
}


.checked-img-container {
    width: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    border-radius: 10px;
    border: 2px solid rgb(33, 156, 33);
    border-style: dashed;
    padding: 6px;
    background-color: rgb(225, 255, 225);
}

span {
    width: 100%;
}

.quests-container {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
}

.card {
    color: white !important;
    background-color: #ff6b35 !important;
    border-radius: 30px !important;
    box-shadow: 1vh 2vh 0 #5a210c;
}

.card-header {
    text-align: center;
    font-weight: 500;
    font-size: large;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    background-color: #d15528 !important;
}

.progress {
    border-radius: 100px !important;
    background-color: #ffba9b !important;
}




